body {
    margin: 0;
    padding: 0;
    background-color: red;
}

#win-container {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    justify-contents: center;
}

.container {
    display: grid;
    align-items: center;
    justify-contents: center;
    height: 100%;
    width: 100%;
}

.tile {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-contents: center;
    height: 100%;
    width: 100%;
    border: 1px solid white;
}
