* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: red;
    overflow: hidden;
}

#win-container {
    height: 100vh;
    width: 100%;    
}

.container {
    display: grid;
    height: 100%;
    width: 100%;
}

.tile {
    background-color: black;
    color: yellow;
    display: flex;
    height: 100%;
    width: 100%;
    border: 1px solid white;
    padding: 1rem;
}
